{%- macro catalogoForm(action_url) -%}
    <form class="" action="{{action_url}}">
        <div class="">
            <input type="text" value="{{catalogo.titulo}}">
        </div>
        <div>
            <input type="text" value="{{catalogo.detalle}}">
        </div>
        <div>
            <input type="file" value="{{catalogo.portada}}">
        </div>
    </form>
{%- endmacro -%}

{%- macro productoForm(action_url, catalogos) -%}
<div class="p-2 w-1/2">
    <h1>Crear Producto</h1>
<form class="grid grid-cols-1 gap-1 p-2 bg-white rounded-md"  action="{{action_url}}" method="post" enctype="multipart/form-data">
    <div class="border flex flex-col p-2">
       <label class="font-semibold text-sm" for="">Titulo</label> 
        <input class="border-b outline-none " name="titulo"  type="text">
    </div>
    <div class="border flex flex-col p-2">
        <label class="font-semibold text-sm"  for="">Detalles</label>
        <input class="border-b outline-none" name="detalle" type="text">
    </div>
    <div class="flex border flex-col p-2">
        <label class="font-semibold text-sm" for="">Catalogo</label>
        <select class="select-none" name="catalogo_id" id="">
            {% for catalogo in catalogos %}
            <option class="" value="{{catalogo.id}}">
                {{ catalogo.titulo }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="">
        <label class="text-sm font-semibold" for="">Portada</label>
        <div class="flex justify-center border border-dashed">
            <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                </svg>
                <div>
                    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                        <span>Subir Foto</span>
                        <input id="file-upload" name="portada" type="file" class="sr-only">
                      </label>
                </div>
            </div>
        </div>        
    </div>
    <div class="flex bg-green-700 p-2 justify-center text-white font-semibold">
        
        <button class="">Guardar</button>
    </div>
</form>
</div>
{%- endmacro -%}

{%- macro formAuth(url_for)-%}
    <div class="flex flex-col justify-center items-center w-full h-screen">
        
        <form class="grid rounded-md shadow-md  border p-3 w-80  grid-cols-1 gap-2" method="post" action="{{url_for}}"  >
            <div>
                <h1 class="text-2xl">Crear Cuenta</h1>
                <p class="uppercase text-sm font-semibold">Melamin</p>
            </div>
            <div class="">
                <label class="text-sm font-semibold"  for="">Usuario</label>
                <input class="w-full p-2  text-sm border outline-none rounded-md"  type="text" name="usuario" >
            </div>
            <div>
                <label class="text-sm font-semibold" for="">Correo</label>
                <input class="border p-2 text-sm w-full outline-none rounded-md" type="email" name="correo">
            </div>
            <div>
                <label class="text-sm font-semibold" for="">Clave</label>
                <input class="w-full p-2 text-sm border outline-none rounded-md" type="password" name="clave">
            </div>
            <div>
                <button class="bg-blue-500 w-full rounded-md text-sm font-semibold p-2" >Crear Cuenta</button>
            </div>
        </form>
    </div>
{%- endmacro -%}

{%- macro form_login() -%}
<div class="bg-black w-80 rounded-md bg-opacity-50 p-4 flex flex-col">
    <form class="grid grid-cols-1 gap-2" action="{{url_for('view.iniciar_sesion')}}" method="post">
        <div>
            <p class="text-sm text-white font-semibold">Bienvenido a</p>
            <h1 class="uppercase font-semibold text-2xl text-white">Melamin</h1>
        </div>
        <hr>
        <div class="">
            <input placeholder="usuario o correo" class="rounded-md font-semibold w-full p-3 border bg-gray-100 outline-none" name="usuario_correo" type="text">
        </div>
        <div class="">
            <input placeholder="clave" class="rounded-md font-semibold w-full p-3 bg-gray-100 border outline-none" name="clave" type="password">
        </div>
        <div class="w-80">
            <a href="" class="text-sm text-white font-semibold" >Recuperar cuenta</a>
        </div>
        
        <div class="pt-4">
            <button class="bg-white p-3 font-semibold w-full rounded-md" >Iniciar Sesion</button>
        </div>
        <hr>
        <div>
           <a class="text-white text-sm font-semibold" href="{{url_for('view.crear_cuenta')}}">Crear Cuenta</a> 
        </div>
    </form>
</div>
{%- endmacro -%} 

{%- macro tabla(items) -%}
    <table class="table-auto">
        <thead>
            <tr>
                <th>id</th>
                <th>titulo</th>
                <th>imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td> {{item.id}}</td>
                    <td> {{item.titulo}} </td>
                    <td>
                        <a href="{{url_for('view.upload_file', filename=item.portada)}}">{{item.portada}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endmacro -%}